$c1 : white;
$c2 : #5c6ac4;
$c3 : #000639;

$t1 : Arial, Helvetica, sans-serif;
$t2 : Georgia, Times, 'Times New Roman', serif;

$fs : 16;
$lh : 1.4;
$mn : $fs * $lh;




$logoWidth : 100px;
$logoHeight: 50px;
