/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: inherit;
}

img {
  width: 100%;
  display: block;
  height: auto;
}

.flex_wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 800px;
  width: auto;
  /*border: 1px solid red;*/
}

/*************

btn_def

*************/
.btn-def {
  display: block;
  width: auto;
  padding: 10px 20px;
  border: 1px solid #5c6ac4;
  background-color: #5c6ac4;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.btn-def:hover {
  background-color: #000639;
}

.btn-submit {
  border: 1px solid #000639;
  background-color: #000639;
}

.btn-submit:hover {
  background-color: #5c6ac4;
}

.logo {
  width: 100px;
  height: 50px;
  background: url("images/logo.svg") no-repeat center;
  background-size: contain;
  text-indent: -9000px;
  /*border: 1px solid red;*/
}

.logo a {
  display: block;
  height: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  background-image: url(images/background.svg);
  background-size: auto 700px;
  background-repeat: repeat-x;
  background-position: top center;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40.32;
  font-weight: bold;
  margin: 1rem 0;
  text-align: center;
}

/*************

s_page-header

*************/
.s_page-header {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 2rem;
  color: white;
}

.s_page-header p:first-of-type {
  margin-bottom: 1rem;
  font-size: 26.88;
  letter-spacing: 1;
  text-align: center;
}

.form-email {
  display: flex;
  margin-bottom: 1rem;
}

.form-email input {
  width: 50vw;
  max-width: 350px;
  margin-right: .5rem;
  border-radius: 5px;
}

.input-email::placeholder {
  padding-left: 10px;
  color: grey;
}

.s_page-header p:last-of-type {
  margin-bottom: 1.5rem;
  font-size: 13.44;
  text-align: center;
}

.s_page-header img {
  max-width: 90%;
  margin-bottom: 2rem;
}

/*************

s_page-3col

*************/
.s_page-3col {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1rem;
}

.s_page-3col div {
  display: block;
  padding: 5px;
}

.s_page-3col h2:before {
  content: 'icon';
  display: flex;
  background-color: #5c6ac4;
  justify-content: center;
  align-items: center;
  text-indent: -9999px;
  width: 40px;
  height: 40px;
  margin-bottom: 1rem;
}

.s_page-3col h2 {
  font-weight: bold;
  margin-bottom: 1rem;
}

/*************

small-logos

*************/
.small-logos {
  border-top: 1px solid LightGrey;
  border-bottom: 1px solid LightGrey;
  margin: 3rem 0;
  width: 100%;
  height: auto;
  padding: 2.5rem 0;
  text-indent: -9999px;
  background: url(images/logos-small.jpg) no-repeat center;
  background-size: contain;
}

/*************

s_page-cite

*************/
.s_page-cite {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 2rem;
}

.s_page-cite p:first-of-type {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 22.4;
}

.s_page-cite p:first-of-type span {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

.s_page-cite p:last-of-type {
  text-align: center;
  font-size: 13.44;
  margin-bottom: 1rem;
}

/*************

s_page-footer

*************/
.s_page-footer {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  width: 100%;
}

.s_page-footer a {
  padding: .8rem;
  font-size: .8rem;
  color: blue;
}
