.logo {
	width: $logoWidth;
	height: $logoHeight;
	background: url('images/logo.svg') no-repeat center;
	background-size: contain;
	text-indent: -9000px;
	/*border: 1px solid red;*/
}

.logo a {
	display: block;
	height: inherit;
}
