@import 'bootstrap/_variables.scss';
@import 'bootstrap/_reset.scss';
@import 'bootstrap/_globals.scss';
@import 'modules/_wrapper.scss';
@import 'modules/_botones.scss';
@import 'app/_logo.scss';




body {

	font-family: $t1;
	font-size: $fs * 1px;
	line-height: $lh;

	background-image: url(images/background.svg) ;
	background-size: auto 700px ;
	background-repeat: repeat-x;
	background-position: top center;

	display: flex;
	flex-flow: wrap;
	justify-content: center;
	align-items: center;
}


h1 {
	font-family: $t1;
	font-size: $mn * 1.8;
	font-weight: bold;
	margin: 1rem 0;
	text-align: center;
}





/*************

s_page-header

*************/

.s_page-header {
	display: flex;
	flex-flow: column;
	align-items: center;

	margin-bottom: 2rem;
	color: $c1;
}

.s_page-header p:first-of-type{
	margin-bottom: 1rem;
	font-size: $mn * 1.2;
	letter-spacing: 1;
	text-align: center;
}

.form-email{
	display: flex;
	margin-bottom: 1rem;
}

.form-email input{
	width: 50vw;
	max-width: 350px;
	margin-right: .5rem;
	border-radius: 5px;
}

.input-email::placeholder{
	padding-left: 10px;
	color: grey;
}

.s_page-header p:last-of-type{
	margin-bottom: 1.5rem;
	font-size: $mn * 0.6;
	text-align: center;
}

.s_page-header img{
	max-width: 90%;
	margin-bottom: 2rem;
}





/*************

s_page-3col

*************/

.s_page-3col {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 1rem;
}

.s_page-3col div {
	display: block;
	padding: 5px;
}

.s_page-3col h2:before {
	content: 'icon';
	display: flex;
	background-color: $c2;
	justify-content: center;
	align-items: center;
	text-indent: -9999px;

	width: 40px;
	height: 40px;

	margin-bottom: 1rem;
}

.s_page-3col h2 {
	font-weight: bold;
	margin-bottom: 1rem;
}

.s_page-3col p {}






/*************

small-logos

*************/

.small-logos {
	border-top: 1px solid LightGrey ;
	border-bottom: 1px solid LightGrey ;

	margin: 3rem 0;
	width: 100%;
	height: auto;
	padding: 2.5rem 0;

	text-indent: -9999px;

	background: url(images/logos-small.jpg)no-repeat center;
	background-size: contain;
}




/*************

s_page-cite

*************/
.s_page-cite{
	display: flex;
	flex-flow: column;
	align-items: center;

	margin-bottom: 2rem;
}
.s_page-cite p:first-of-type{
	display: block;
	text-align: center;
	font-weight: bold;
	font-size: $mn * 1;
}
.s_page-cite p:first-of-type span{
	display: block;
	width: 100%;
	text-align: center;

	margin-bottom: 1rem;
}

.s_page-cite p:last-of-type{
	text-align: center;
	font-size: $mn * .6;
	margin-bottom: 1rem;
}







/*************

s_page-footer

*************/

.s_page-footer{
	display: flex;
	flex-flow: row;
	justify-content: flex-end;

	width: 100%;
}
.s_page-footer a{
	padding: .8rem;
	font-size: .8rem;
	color: blue;
}
