/*************

btn_def

*************/
.btn-def{
	display: block;
	width: auto;
	padding: 10px 20px;
	border: 1px solid $c2;
	background-color: $c2;
	color: $c1;
	border-radius: 5px;
	cursor: pointer;
}
.btn-def:hover{
	background-color: $c3;
}

.btn-submit{
	border: 1px solid $c3;
	background-color: $c3;
}
.btn-submit:hover{
	background-color: $c2;
}
